/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: arial;
  font-size: 10.5pt;
  padding: 2em 1em;
  text-align: center; }

small {
  color: #aaa;
  font-size: .8em; }

h1 {
  display: none; }

a {
  text-decoration: none;
  color: inherit; }

/* Outline ------------------------------------------------------------*/
.outline {
  align-items: stretch;
  display: flex;
  justify-content: center; }
  .outline > .left, .outline > .right {
    flex-basis: 100%; }
  .outline .left * .ellipsis, .outline .right * .ellipsis {
    border-radius: 3px;
    background-color: #ddd;
    display: inline-block;
    padding: 2px;
    font-size: .8em;
    margin-top: 5px; }
  .outline .left *:hover .ellipsis, .outline .right *:hover .ellipsis {
    display: none; }
  .outline .left * .limited, .outline .right * .limited {
    transform: scale(1, 0);
    position: absolute;
    transition: none; }
  .outline .left *:hover .limited, .outline .right *:hover .limited {
    transform: scale(1, 1);
    position: static;
    transition: all .35s; }

.roll-out {
  background-color: #ddd;
  border-radius: 4px;
  border: 3px solid #ddd;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
  height: 35px;
  left: 15px;
  overflow: hidden;
  position: fixed;
  top: 20px;
  transition: all .35s;
  width: 30px;
  z-index: 1000; }
  .roll-out:hover + .outline .left * .ellipsis, .roll-out:hover + .outline .right * .ellipsis {
    display: none; }
  .roll-out:hover + .outline .left * .limited, .roll-out:hover + .outline .right * .limited {
    transform: scale(1, 1);
    position: static;
    transition: all .35s; }
  .roll-out:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
    .roll-out:hover:before, .roll-out:hover:after {
      transform: translate(0, -100%); }
    .roll-out:hover:after {
      top: calc(50% + 3px); }
  .roll-out:before, .roll-out:after {
    background-color: #fff;
    border-radius: 1px;
    content: ' ';
    display: block;
    height: 20px;
    border: 1px solid #aaa;
    margin: auto;
    position: relative;
    transform: translate(0, -50%);
    transition: all .35s;
    width: 15px; }
  .roll-out:before {
    top: 50%; }
  .roll-out:after {
    top: calc(50% + 15px); }

.left {
  border-right: 2px dotted #0099b9;
  padding-right: calc(1.4em + 2px); }

.right {
  padding-left: 1.4em; }

.left article {
  text-align: right; }

.right article {
  text-align: left; }

.left article h2 {
  margin-left: auto;
  padding-right: 1.4em;
  right: -1.4em; }

.right article h2 {
  margin-right: auto;
  padding-left: calc(1.4em + 2px);
  left: calc(-1.4em - 2px); }

.outline article h2 {
  width: 60%;
  position: relative;
  display: block;
  color: #0099b9;
  margin-top: .7em;
  margin-bottom: .3em;
  padding-bottom: .1em;
  text-transform: uppercase;
  border-bottom: 1px dotted #0099b9; }

.outline article:first-of-type h2 {
  margin-top: 0; }

.outline article dt {
  font-weight: bold;
  font-size: smaller;
  color: #4b5467; }

.outline article dd {
  font-size: .9em; }

.lineList {
  margin-left: 6em;
  padding-left: 10px;
  border-left: 1px solid #0099b9; }

.lineList .date_range {
  display: block;
  position: relative;
  left: calc(-1px - 6em - 10px * 2);
  width: 6em;
  height: 0;
  text-align: right; }

.lineList dt {
  position: relative; }
  .lineList dt:before {
    background-clip: content-box;
    background-color: #0099b9;
    border-radius: 100%;
    border: 1px solid #0099b9;
    box-sizing: border-box;
    content: ' ';
    display: block;
    height: 10px;
    left: calc(-10px - 10px / 2 - .5px);
    padding: 2px;
    position: absolute;
    width: 10px; }

.date_range, #languages dt {
  font-weight: normal;
  font-size: smaller;
  color: #aaa;
  letter-spacing: .05em;
  margin: .4em 0 0 0;
  font-weight: normal; }

#person h2 {
  display: none; }

#photo {
  display: block;
  margin-right: auto;
  width: 16em;
  height: 16em;
  background-size: cover;
  overflow: hidden;
  border: 0.3em solid #0099b9;
  border-radius: 100%;
  box-shadow: 0, 0, 2em, 0em, #333, inset; }

#photo > img {
  height: 100%;
  position: relative;
  z-index: -1; }

#person > div {
  display: inline-block;
  text-align: center; }

#person span {
  font-size: smaller; }

#skills ul {
  list-style: none; }

#skills .rate {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-sizing: border-box; }
  #skills .rate:not(:first-of-type) {
    margin-left: 1.5px; }
  #skills .rate.void {
    border: 1px solid #aaa; }
  #skills .rate.full {
    border: 1px solid #0099b9;
    background-color: #0099b9;
    padding: 2px;
    background-clip: content-box; }

#skills li {
  display: block;
  margin-top: .2em; }

#certificates .date_range {
  margin-top: .7em;
  display: block; }

#certificates dl:first-of-type .date_range {
  margin-top: .2em; }

#hobbies {
  padding-left: 10%; }

#hobbies h2 {
  margin-bottom: .2em; }

#hobbies li {
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  padding: .05em .6em .1em .6em;
  margin: .1em 0;
  vertical-align: middle;
  border-radius: 100px; }

@media all and (max-width: 700px) {
  #hobbies li {
    white-space: initial; } }

#hobbies li[data-importance='7'] {
  font-size: 1.1em;
  background-color: #54b1eb; }

#hobbies li[data-importance='6'] {
  font-size: 1.02em;
  background-color: #479ee1; }

#hobbies li[data-importance='5'] {
  font-size: .95em;
  background-color: #3a8cd8; }

#hobbies li[data-importance='4'] {
  font-size: .8em;
  background-color: #2e79cf; }

#hobbies li[data-importance='3'] {
  font-size: .72em;
  background-color: #2367c5; }

#hobbies li[data-importance='2'] {
  font-size: .68em;
  background-color: #1955bc; }

#work_experience .workplace, #education .faculty {
  color: #aaa;
  font-weight: bold; }

/* End of Outline ------------------------------------------------------------*/
/* Header ------------------------------------------------------------*/
header {
  display: flex;
  text-align: center;
  margin-top: 2em;
  justify-content: center;
  align-items: center; }
  header dt {
    display: none; }
  header dl {
    display: inline-block;
    text-align: left;
    vertical-align: middle; }
  header dd {
    display: inline-block;
    text-align: left; }
  header .name {
    font-size: 2.8em;
    font-family: "Trebuchet";
    color: #0099b9;
    text-transform: uppercase; }
  header .name span:first-letter {
    font-size: larger; }
  header .description dd {
    font-style: italic;
    max-width: 400px;
    font-size: .9em;
    color: #aaa; }
  header dd span {
    display: block; }
  header dl:nth-of-type(1) {
    border-right: 2px solid #4b5467;
    padding-right: 10px;
    text-align: right;
    width: 40%; }
  header dl:nth-of-type(2) {
    width: calc(60% - 2px - 10px - 5px - 4px);
    padding-left: 5px; }

/* End of Header ------------------------------------------------------------*/
/* Contact data ------------------------------------------------------------*/
.contact_data {
  margin: 3em 10%;
  padding: 1.5em 0;
  border-width: 1px 0;
  border-color: #0099b9;
  border-style: solid; }
  .contact_data dl {
    align-items: center;
    display: flex;
    justify-content: space-around; }
    .contact_data dl dt {
      display: none; }
    .contact_data dl dd {
      color: #4b5467;
      text-align: center;
      font-size: 1em;
      font-style: italic; }
    .contact_data dl .icon {
      border-radius: 100%;
      border: 2px solid #4b5467;
      display: block;
      font-size: 2em;
      font-style: normal;
      height: 35px;
      line-height: 1.2;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 35px; }

/* End of Contact data ------------------------------------------------------------*/
/* Footer ------------------------------------------------------------*/
footer.legal {
  color: #b9b9b9;
  font-size: .8em;
  display: block;
  width: 80%;
  min-width: 150px;
  margin: 2em auto 0 auto; }

/* End of Footer ------------------------------------------------------------*/
