/* Footer ------------------------------------------------------------*/

footer.legal {
  color: #b9b9b9;
  font-size: .8em;
  display: block;
  width: 80%;
  min-width: 150px;
  margin: 2em auto 0 auto;
}

/* End of Footer ------------------------------------------------------------*/